@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
	margin: 0;
	overflow: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
.sfondohome{
		margin: 0;
		background:  url(../img/sfondopaci.jpg)  no-repeat center top;
		position: absolute;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100vh;
}
@media (max-width: 821px){
	.sfondohome{
		position: fixed;
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media (max-width: 821px){
	.logo{
		position: fixed;
		width: 50%;
		height: 50%;
	}
}
h1 {
	margin: 20px 0;
	color: #fff;
}

.center {
	text-align: center;
}

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	min-width: 100%;
	height: 100px;
	padding: 0 25px;
	z-index: 1;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 80px;
	min-width: 300px;
}

.nav-tabs {
	display: flex;
	font-weight: 6	00;
	font-size: 18px;
	list-style: none;
}


.nav-tab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;
	border-right: 1px solid #eee;
}

.nav-tab:last-child {
	padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
	cursor: pointer;
}

.hidden {
	display: none;
}

@media screen and (max-width: 821px) {
	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: 2;
		top: 0;
		right: 0;
		min-width: 500px;
		height:100%;
		background: #fff;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width:100%;
        height:100%;
	}
    .logo {
        position: relative;
    }


	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.nav-tab:last-child {
		padding: 15px 25px;
	}

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
		border-radius: 10px;
		background: #111;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
	
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}

#header-search {
  width: 200px;
  background: black;
  color: white;
  font-size: 12pt;
  border: 0px solid;
  outline: 0;
  vertical-align: -50%;
}

#header-search::-webkit-input-placeholder {
	color: white;
}

#search-field svg {
	fill: white;
	width: 30px;
	height: 30px;
}
.bott {
	background-color: #111;
	border: none;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }
  .bott2 {
	background-color: #111;
	border: none;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }
  a {
	  text-decoration: dotted;
	  color: #111;
  }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  bottom: auto;
  background-color: #111;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 120px;
  display: block;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.dropbtn {
	background-color: #111;
	color: #ddd;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 160px;
	right: 50px;
	display: block;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #fff;
	color: black;
  }
  
  #myInput {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #fff;
  }
  
  #myInput:focus {
      outline: 3px solid #ddd;
    }
  
  .dropdown {
	position: relative;
	display: flex;
	margin-left: auto; 
	margin-right: 100px;
	justify-content: flex-end
  }
  
  .dropdown-content {
	display: none;
	position: center;
	background-color: #f6f6f6;
	width: 150px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {
      background-color: #ddd;
    }
  
  .show {
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 160px;
	right: 50px;
	display: block;
	  
    }
  
	.opennav{
		position: relative;
		display: flex;
		margin-top: auto;
		margin-bottom: auto;
		margin-left:  50px; 
		margin-right: auto;
		justify-content: flex-start;
		font-size:30px;
		cursor:pointer
	}
	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: black;
		color: white;
		text-align: center;
		font-size: 18px;
	}
	.content-container{
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	margin-left: auto;
	min-width: 100%;
	height: 100px;
	padding: 0 15px;
}
@media screen and (max-width: 821px) {
	.content-container
	{
		display: flex;
		position: relative;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		margin-left: auto;
		min-width: 100%;
		height: 100px;
		padding: 0 15px;
	}
}
	table
	{
		padding: 10px;
		width:60%; 
		height:80%; 
		background-color: white;
	}
	th,td  {
		letter-spacing: 1px;	
	  }  
	#bordo {
	 border:  3px solid black;
	}	  
	tbody td {
		text-align: left;
	}
	.tab_center {
	display: flex;
	margin-left: auto; 
	margin-right: auto;
	justify-content: center;
	margin-top: 15%;
	}

@media screen and (max-width: 821px) {
	th,td 
	{
		width:25%;
		height:30%;
	}
}